body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  min-width: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card:nth-child(n + 2) {
  margin-top: 20px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-top: 0;
  margin-bottom: .75rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

a {
  text-decoration: none;
}

